# mac stuff
.DS_Store

# ides
.idea

# node
npm-debug.log
node_modules

# bower
bower_components

# tests
coverage

# build
build

# dist
dist/.htaccess
dist/index.html
dist/assets/css
dist/assets/javascripts
dist/assets/views
dist/data
dist/vendor
