<!DOCTYPE html>
<html>
<head>
  <!-- @if NODE_ENV='development' -->
  <base href="/">
  <!-- @endif -->
  <!-- @if NODE_ENV='production' -->
  <base href="/transparence/">
  <!-- @endif -->
  <meta charset="utf-8">
  <title>Transparence</title>

  <!-- Dependencies -->

  <link rel="stylesheet" href="vendor/css/bootstrap.min.css">

  <!-- Application -->

  <!-- @if NODE_ENV='development' -->
  <link rel="stylesheet" href="assets/css/transparence.css">
  <!-- @endif -->
  <!-- @if NODE_ENV='production' -->
  <link rel="stylesheet" href="assets/css/transparence.min.css">
  <!-- @endif -->
</head>
<body ng-app="Transparence">

<div class="container">

  <header class="row-fluid">
    <div class="col-xs-12">
      <h1>Transparence</h1>
    </div>
  </header>

  <div class="wrapper clearfix" ng-view></div>

  <footer class="row-fluid text-right">
    <div class="col-xs-12">
      <code><!-- @echo version --></code>
    </div>
  </footer>
</div>

<!-- Dependencies -->

<script type="text/javascript" src="vendor/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="vendor/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="vendor/javascripts/angular.min.js"></script>
<script type="text/javascript" src="vendor/javascripts/angular-route.min.js"></script>
<script type="text/javascript" src="vendor/javascripts/d3.min.js"></script>

<!-- Application -->

<!-- @if NODE_ENV='development' -->
<script type="text/javascript" src="assets/javascripts/transparence.js"></script>
<!-- @endif -->
<!-- @if NODE_ENV='production' -->
<script type="text/javascript" src="assets/javascripts/transparence.min.js"></script>
<!-- @endif -->
</body>
</html>
