<!DOCTYPE html>
<html ng-app="Transparence">
<head>
  <meta charset="utf-8">
  <title>Transparence</title>

  <!-- Dependencies -->

  <link rel="stylesheet" href="vendor/css/bootstrap.min.css">

  <!-- Application -->

  <!-- @if NODE_ENV='development' -->
  <link rel="stylesheet" href="assets/css/transparence.css">
  <!-- @endif -->
  <!-- @if NODE_ENV='production' -->
  <link rel="stylesheet" href="assets/css/transparence.min.css">
  <!-- @endif -->
</head>
<body>

<div class="container" ng-controller="TransparenceController">

  <header>
    <div class="info">
      <form role="form">
        <div class="form-group">
          <label for="mensualSalary">Mensual salary</label>
          <input type="number" class="form-control" id="mensualSalary" ng-model="spreadsheet.salary.mensual">
        </div>
        <div class="form-group">
          <label for="annualSalary">Annual salary</label>
          <input class="form-control" id="annualSalary" value="{{ spreadsheet.salary.annual }}" disabled>
        </div>
        <div class="form-group">
          <label for="rate">Rate</label>
          <input type="number" class="form-control" id="rate" ng-model="spreadsheet.salary.rate">
        </div>
        <div class="form-group">
          <label for="taxFreeRate">Tax free rate (90%)</label>
          <input class="form-control" id="taxFreeRate" value="{{ spreadsheet.salary.taxFreeRate | number: 2 }}"
                 disabled>
        </div>
      </form>
    </div>
    <div class="chart" width="768" height="432" thickness="30" data="spreadsheet"></div>
  </header>
  <section>
    <div class="tab" ng-repeat="sheet in spreadsheet.sheets">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Period</th>
          <th>Worked days</th>
          <th>Sales</th>
          <th>Tax-free rate</th>
          <th>&Delta; of generated sales</th>
          <th>Mean of &Delta; generated sales</th>
          <th>Bonus</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="month in sheet.months">
          <td>
            {{ month.millis | date: 'MMMM' }}
            <span class="below">{{ month.millis | date: 'yyyy' }}</span>
          </td>
          <td class="text-right">
            {{ month.workedDays }}
            <span class="follow">{{ month.businessDays }}</span>
          </td>
          <td class="text-right">
            {{ month.sales() | number: 2 }} &euro;
            <span class="below">{{ month.ideal.sales() | number: 2 }} &euro;</span>
          </td>
          <td class="text-right">{{ month.taxFreeRate | number: 2 }} &euro;</td>
          <td class="text-right">
            {{ month.delta() | number: 2 }} &euro;
            <span class="below">{{ month.ideal.delta() | number: 2 }} &euro;</span>
          </td>
          <td class="text-right">
            {{ month.mean() | number: 2 }} &euro;
            <span class="below">{{ month.ideal.mean() | number: 2 }} &euro;</span>
          </td>
          <td class="text-right">
            {{ month.bonus() | number: 2 }} &euro;
            <span class="below">{{ month.ideal.bonus() | number: 2 }} &euro;</span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
  <footer class="text-right">
    <code><!-- @echo version --></code>
  </footer>
</div>

<!-- Dependencies -->

<script type="text/javascript" src="vendor/js/jquery.min.js"></script>
<script type="text/javascript" src="vendor/js/bootstrap.min.js"></script>
<script type="text/javascript" src="vendor/js/angular.min.js"></script>
<script type="text/javascript" src="vendor/js/angular-route.min.js"></script>
<script type="text/javascript" src="vendor/js/d3.min.js"></script>

<!-- Application -->

<!-- @if NODE_ENV='development' -->
<script type="text/javascript" src="assets/js/transparence.js"></script>
<!-- @endif -->
<!-- @if NODE_ENV='production' -->
<script type="text/javascript" src="assets/js/transparence.min.js"></script>
<!-- @endif -->
</body>
</html>
