<!DOCTYPE html>
<html ng-app="Transparence">
<head>
  <meta charset="utf-8">
  <title>Transparence</title>

  <!-- Dependencies -->

  <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/css/bootstrap-theme.min.css">

  <!-- Application -->

  <!-- @if NODE_ENV='development' -->
  <link rel="stylesheet" href="assets/css/transparence.css">
  <!-- @endif -->
  <!-- @if NODE_ENV='production' -->
  <link rel="stylesheet" href="assets/css/transparence.min.css">
  <!-- @endif -->
</head>
<body>

<div class="container" ng-controller="TransparenceController">

  <div class="head">
    <div class="chart" width="768" height="432" thickness="30" data="spreadsheet"></div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Period</th>
      <th>Worked days</th>
      <th>Sales</th>
      <th>Tax-free rate</th>
      <th>&Delta; of generated sales</th>
      <th>Mean of &Delta; generated sales</th>
      <th>Bonus</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in spreadsheet.rows">
      <td>{{ row.millis | date: 'MMMM yyyy' }}</td>
      <td class="text-right">{{ row.workedDays }}</td>
      <td class="text-right">{{ row.sales() | number: 2 }} &euro;</td>
      <td class="text-right">{{ row.taxFreeRate | number: 2 }} &euro;</td>
      <td class="text-right">{{ row.delta() | number: 2 }} &euro;</td>
      <td class="text-right">{{ row.mean() | number: 2 }} &euro;</td>
      <td class="text-right">{{ row.bonus() | number: 2 }} &euro;</td>
    </tr>
    </tbody>
  </table>
</div>

<!-- Dependencies -->

<script type="text/javascript" src="vendor/js/jquery.min.js"></script>
<script type="text/javascript" src="vendor/js/bootstrap.min.js"></script>
<script type="text/javascript" src="vendor/js/angular.min.js"></script>
<script type="text/javascript" src="vendor/js/d3.min.js"></script>

<!-- Application -->

<!-- @if NODE_ENV='development' -->
<script type="text/javascript" src="assets/js/transparence.js"></script>
<!-- @endif -->
<!-- @if NODE_ENV='production' -->
<script type="text/javascript" src="assets/js/transparence.min.js"></script>
<!-- @endif -->
</body>
</html>
