.container {
  margin-top: 60px;
}

.container svg {
  margin-left: 172px;
}

.lines path {
  fill: none;
  stroke: red;
  stroke-width: 1px;
}

.axis {
  path,
  line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  text {
    fill: #000;
  }
}
