@import 'variables';

.container {
  margin-top: 60px;
  max-width: 970px;

  header {
    display: flex;
  }

  .info {
    height: @header-height;
    width: @info-width;
  }

  .chart {
    height: @header-height;
    width: @chart-width;

    .bonuses path {
      fill: none;
      stroke-width: 1.5px;
    }

    .axis {
      path,
      line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
      }

      text {
        fill: black;
      }
    }
  }

  .table td span {
    color: #aaa;

    &.below {
      display: block;
      font-size: 90%
    }

    &.follow:before {
      content: ' / '
    }
  }

  footer {
    margin-bottom: 20px;
  }
}
